CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Debug
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
rocket
.ccls-cache
*.so
PWP3DAPP
Application/PWP3DAPP
Files/Results/*.png
